
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Chat: <span id="count"></span></h1>
@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Chat.js"></script>
}

