<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<html>
	<body>
		<h2>Chat App</h2>
		<h4>Dear, <#=Name#></h4>
		<p>For reset your password pleace click the attached link.</p>
		<a href="<#=Url#>">Reset Password</a>
	</body>
</html>