@model RegistrationMessageModel
@{
    ViewData["Title"] = "ForgotPasswordMessage";
    Layout = "~/Views/Shared/_Info.cshtml";
}

<div class="p-5 rounded-4 bg-white shadow" style="max-width:800px;">
    <h1 class="headings">Confirm registration</h1>
    <h2>Dear @Model.Name,</h2>
    <p>A password reset link has been sent to <strong>@Model.Email</strong> this account. Please click this link for change password.</p>
</div>

