
@{
    ViewData["Title"] = "ResetPasswordSuccess";
    Layout = "~/Views/Shared/_Info.cshtml";
}

<div class="p-5 rounded-4 bg-white shadow" style="max-width:800px;">
    <h1 class="headings">Congratulations</h1>
    <h2>Password reset successful</h2>
    <p>You can <a asp-action="login" asp-controller="auth" asp-area="">login</a> now with new password.</p>
</div>

